* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif!important;

}
.buscar {
  background: #2a3d66;
  border: 0;
  color: #ffffff;
  padding: .3em 6em;
  cursor: pointer;
  outline: none;
  
}
.terminos {
  padding: .3em 2em;
  background-color: #9d65c9;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.scroll {
  height:150px;


}